# docker-image.yml
name: Build and Push Docker Image

on:
  push:
    branches:
      - "main"
    tags:
      - "docker"
  workflow_dispatch:

jobs:
  build-tencent:
    runs-on: [self-hosted, docker]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # 生成时间戳 tag (格式: YYYYMMDDHHMM)
      - name: Generate Timestamp Tag
        run: echo "IMAGE_TAG=$(date +'%Y%m%d%H%M')" >> $GITHUB_ENV

      # 构建 Docker 镜像
      - name: Build Docker Image
        run: |
          docker build -t media-downloader:${{ env.IMAGE_TAG }} .

      # 直接运行服务
      - name: Run Service
        run: |
          docker run -d --name media-downloader -p 9000:9000 media-downloader:${{ env.IMAGE_TAG }}
